* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4c531;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main container */
.container {
    font-size: 16px;
    background-color: #ffffff;
    width: 90vw;
    max-width: 34em;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
    position: relative;
}

/* Options container styling */
#options-container {
    text-align: center;
}

#options-container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
}

#options-container button {
    padding: 0.6em 1.2em;
    border: 3px solid #000000;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.3em;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#options-container button:disabled {
    border: 3px solid #808080;
    color: #808080;
    background-color: #efefef;
    cursor: not-allowed;
}

#options-container button:active {
    background-color: #f4c531;
    border: 3px solid #000000;
    color: #000000;
}

/* Letter container for A-Z letters */
.letter-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
    margin-bottom: 1.5em;
}

#letter-container button {
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    border: 2px solid #000;
    background-color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

#letter-container button:hover:not(:disabled) {
    background-color: #f4c531;
}

/* Popup for new game */
.new-game-popup {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
    z-index: 10;
    text-align: center;
    padding: 2em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}

/* Hide element */
.hide {
    display: none;
}

/* User input section (e.g., for blanks or input letters) */
#user-input-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6em;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
